# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# uv - Python version and package manager
# 
# uv typically expects to check in the lockfile.
# However, as we're not yet settled on the use of uv across the project, I'm leaving it ignored for now.
uv.lock

# uv's virtualenv
.venv/